<div #elementContainer    style="position: relative;" [ngStyle]="{'background-color':element.isSelected ? '#ffff66' : element.elementType === 'property' ? '#BA85E7': element.elementType === 'filled' ? '#E0B0FF	' : element.elementType === 'correct' ? '#0FFF50' : element.elementType === 'selected-fixed' ? '#FFD700	' : '#FFFFFF' , 'width': variableWidth + 'vh', 'height':variableHeight + 'vh', 'cursor': element.elementType === 'hidden' ? 'default' : 'pointer'}" >
    <input #wordInput (keyup)="correctableEmitter()"
    type="text" maxlength="5" style="width: 0;height: 0;z-index: -1;opacity: 0;" [(ngModel)]="element.value.text">
    <ox-text #wordOxText [originalText]="element.value.text" style="width: 100%; height: 100%;" fxFlex="grow" fontSize="3vh" color="black" font="dinnRegular" (click)="focusCell()"></ox-text>
    <div #blockedDiv style=" background-color: '#C0C0C0'; position: absolute; width: 100%; height: 100%; z-index: 20;"
    [ngStyle] = "{'background-color': element.elementType === 'hidden' ? '#C0C0C0' : '#4169E1'}"
    fxLayoutAlign="center center" *ngIf="element.elementType === 'hidden' || element.elementType === 'hidden-hint'">
        <mlc-loaded-svg style="width: 40%; height: 30%;" forceViewBoxTo="''"
        path="tdi/svg/game/locker.svg" fxLayoutAlign="center center">
      </mlc-loaded-svg>
    </div>
    <mlc-sound-button  svgPath="tdi/svg/buttons/sonido-activado.svg" *ngIf="element.value.audio && (element.elementType === 'fixed' || element.elementType === 'correct')"
    style="width: 5vh;transform: translate(17vh, 0.5vh);cursor: pointer; position: absolute; z-index: 50;" (click)="playLoadedSound(element.value.audio)">
    </mlc-sound-button>
</div>


