<div fxFlex="grow" fxLayoutAlign="center center" style="position: relative; background-color: aquamarine;width: 100%; height: 100%;">
  <div class="myAbsolute full-width" fxLayoutAlign="center center" fxLayout="column">
    <div>
        <ox-text  originalText="-- TABLA --"
        fontSize="7.5vh" color="black" font="dinnRegular"></ox-text>
    </div>
     <div style="background-color: khaki; width: 150vh; height: 85vh;" fxLayoutAlign="center center">
      <div [ngStyle]="{'width' : tableWidth + 'vh'}" fxLayout="row wrap" fxLayoutAlign="center center">
       <div #cells *ngFor="let row of testCompleteTable; let t = index" fxLayoutAlign="center center"> 
              <app-table-value [rows]="rowsQuantity" [variableWidth]="measures.width" [variableHeight]="measures.height" [tableWidth]="tableWidth"  [columns]="testTableProperties.length" [element]="testCompleteTable[t]"></app-table-value>
       </div>
     </div>
    </div>
  </div>
</div>
