<div fxFlex="grow" fxLayoutAlign="center center"
  style="position: relative; background-color:aquamarine;width: 100%; height: 100%;">
  <div class="myAbsolute full-width" fxLayoutAlign="center center" fxLayout="column">
    <div fxLayoutAlign="space-between center" style="width:100%;">
      <mlc-to-in-game-menu-button [forceNoAnimations]="true" style="width: 13vh;"
        svgPath="mini-lessons/executive-functions/tdi/buttons/menu.svg">
      </mlc-to-in-game-menu-button>
      <div style="background-color: aquamarine; width: 80%; height:12vh" fxLayoutAlign="center center">
        <ox-text [originalText]="statement" style="width: 95%;" fontSize="3.1vh" color="black" font="dinnRegular">
        </ox-text>
      </div>
      <mlc-hint-button style="width: 13vh; opacity: 1;"
        svgPath="mini-lessons/executive-functions/tdi/buttons/pista.svg">
      </mlc-hint-button>
    </div>
    <div style="background-color: aquamarine; width: 150vh; height: 85vh;" fxLayoutAlign="center center">
      <div *ngIf="exercise" [ngStyle]="{'width' : tableWidth + 'vh'}" fxLayout="row wrap" fxLayoutAlign="center center">
        <div style="background-color: #f4e8a4; height:7.5vh;border:1px solid black; border-bottom: 0.5px;"
          [ngStyle]="{'width' : currentExercise.measures.width * currentExercise.columns + (pxToVHVar * 2 * currentExercise.columns)+ 'vh'}"
          fxLayoutAlign="center center" *ngIf="currentExercise.tableName.text !== ''" fxLayoutAlign="center center">
          <ox-text #wordOxText [originalText]="currentExercise.tableName.text" style="width: 100%;" fontSize="3.1vh"
            color="black" font="dinnRegular"></ox-text>
        </div>
        <div #cells *ngFor="let el of tableElements; let t = index" fxLayoutAlign="center center"
          style="border: 1px black solid">
          <app-table-value #tableValueComponent (restoreCellsColours)="restoreCellsColoursAndSelect($event)"
            [rows]="currentExercise.rows" [variableWidth]="currentExercise.measures.width"
            [variableHeight]="currentExercise.measures.height" [tableWidth]="currentExercise.tableWidth"
            [columns]="currentExercise.columns" [element]="currentExercise.tableElements[t]" [init]="init[t]"
            [answer]="answerArray[t]" [selectionActivate]="selectionActivate">
          </app-table-value>
        </div>
      </div>
    </div>
    <div style="position: relative; width: 100%;">
      <mlc-footer class="button-menu" style=" width: 97.5%; height: 12vh;"
        trySvg="mini-lessons/executive-functions/tdi/buttons/check.svg" 
        surrenderSvg="mini-lessons/executive-functions/tdi/buttons/surrender.svg"
        resultsSvg="mini-lessons/executive-functions/tdi/buttons/copa-memotest.svg"
        nextSvg="mini-lessons/executive-functions/tdi/buttons/next-memotest.svg"></mlc-footer>
    </div>
  </div>
</div>