<div fxFlex="grow" fxLayoutAlign="center center"
  style="position: relative;width: 100%; height: 100%;">
  <div class="myAbsolute full-width" fxLayoutAlign="center center" fxLayout="column">
    <mlc-loaded-svg fxFlex="grow" style="z-index: -1;" class="myAbsolute" forceViewBoxTo="''"
    path="tdi/svg/game/background.svg">
  </mlc-loaded-svg>
    <div fxLayoutAlign="space-between center" style="width:100%;">
      <mlc-to-in-game-menu-button [forceNoAnimations]="true" style="width: 13vh;"
        svgPath="tdi/svg/buttons/menu.svg">
      </mlc-to-in-game-menu-button>
      <div #statementContainer style="width: 77%; height:12vh; border-radius: 20px; background-color: white; transform: translateY(1vh);  padding: 4vh;" fxLayoutAlign="center center">
        <ox-text [originalText]="statement.text"   fontSize="3.1vh" color="black" font="dinnRegular">
        </ox-text>
        <mlc-sound-button  svgPath="tdi/svg/buttons/sonido-activado.svg" *ngIf="statement.audio"
    style="width: 60px;transform: translate(2vh, -0.5vh);cursor: pointer; " (click)="playLoadedSound(currentExercise.statement.audio)">
    </mlc-sound-button>
      </div>
      <mlc-hint-button style="width: 13vh; opacity: 1;"
        svgPath="tdi/svg/buttons/pista.svg">
      </mlc-hint-button>
    </div>

    <div #tableContainer  style="width: 155vh; height: 85vh;" fxLayoutAlign="center center">
      <div  style="transform: translateY(1vh);" [ngStyle]="{'width' :  tableWidth  + 'vh'}" fxLayout="row wrap" fxLayoutAlign="center center">
        <div style="background-color: rgb(255, 145, 0); height:7.5vh;border:1px solid black; border-bottom: 0.5px;"
          [ngStyle]="{'width' : tableTitleDivWidth + 'vh',
                      'background-color': currentExercise.setedTable === 'Castillo de números' ? '#4B0082': 'rgb(255, 145, 0)'}"
          fxLayoutAlign="center center" fxLayoutAlign="center center">
          <ox-text #wordOxText [originalText]="currentExercise.tableName.text"  fontSize="3.1vh"
            [color]="titleColor" font="dinnRegular"></ox-text>
            <mlc-sound-button  svgPath="tdi/svg/buttons/sonido-activado.svg" *ngIf="tableName.audio"
      style="width: 5.5vh;transform: translate(2vh, -0.45vh);cursor: pointer; " (click)="playLoadedSound(tableName.audio)">
    </mlc-sound-button>
        </div>
        <div #cells *ngFor="let el of tableElements; let t = index" fxLayoutAlign="center center"
          style="border: 1px black solid">
          <app-table-value #tableValueComponent (restoreCellsColours)="restoreCellsColoursAndSelect($event)"
            [rows]="currentExercise.rows" [variableWidth]="currentExercise.measures.width"
            [variableHeight]="currentExercise.measures.height" [tableWidth]="currentExercise.tableWidth"
            [columns]="currentExercise.columns" [element]="currentExercise.tableElements[t]" [init]="init[t]"
            [answer]="answerArray[t]" [selectionActivate]="selectionActivate" [exerciseType]="exerciseType" [newExercise]="newExercise">
          </app-table-value>
        </div>
      </div>
    </div>
    <div style="position: relative; width: 100%;">
      <mlc-footer class="button-menu" style=" width: 97.5%; height: 12vh; z-index: 100;"
        trySvg="tdi/svg/buttons/check.svg"
        surrenderSvg="tdi/svg/buttons/surrender.svg"
        resultsSvg="tdi/svg/buttons/copa-memotest.svg"
        nextSvg="tdi/svg/buttons/next-memotest.svg"></mlc-footer>
    </div>
  </div>
</div>
